@model List<string>
@{
    ViewBag.Title = "Submission logs";
}

<h2>Submission logs</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-md-1"></th>
            <th>Log</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in Model)
        {
        <tr>
            <td>
                <a class="btn @(file == "Submissions.csv" ? "btn-primary" : "btn-default")" href="@Url.Action("SubmissionLog", new { filename = file })">Download</a>
            </td>
            <td>
                @file
            </td>
        </tr>
        }
    </tbody>
</table>
<p>
    <a class="btn btn-default" href="@Url.Action("Index")">Back</a>
</p>