
@{
    ViewBag.Title = "Join a group work";
}

<h2>Join a group work</h2>
<p class="alert alert-info">
 Please contact a group manager to join a work group.
</p>

<a class="btn btn-default" href="@Url.Action("Index")">Back</a>

