@model Assignment.Models.AssignmentItemViewModel

@{
    ViewBag.Title = "Inactive Assignment";
}

<h2>Inactive Assignment</h2>
<div class="alert alert-danger">The Assignment @Model.Course.Name - @Model.Name is inactive.</div>

