@{
    ViewBag.Title = "INF-SWE Assignments";
}

<div class="jumbotron">
    <h1>INF-SWE Assignments</h1>
    <p class="lead">Your platform, to manage your assignments</p>
    <p><a href="http://inf-swe.technikum-wien.at" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Group work</h2>
        <p>
            If your assignment is a group work, you can manage your groups here.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "GroupWork")">Manage groups &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Upload submission</h2>
        <p>If you have to upload your submission, you can do it here</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Upload")">Upload &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Summary</h2>
        <p>Summary of all assignments and submissions</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Summary")">Summary &raquo;</a></p>
    </div>
</div>